.remove-design{
    padding: 5px 25px !important;
    border-radius: 8px;
    /* background-image: linear-gradient(to right,  #D0425C , rgb(0, 85, 147)); */
    background-image: linear-gradient(to right,  #113350 , #427bb1 );
    color:white !important;
    border:1px solid white;
}